name: CI Pipeline - Test Build

# Kdy se má robot spustit?
# Vždy, když někdo nahraje kód (push) do hlavní větve (main)
on:
  push:
    branches: [ "master" ]

jobs:
  build-test:
    # Robot poběží na nejnovějším Ubuntu serveru v cloudu GitHubu
    runs-on: ubuntu-latest
    
    steps:
      # 1. Krok: Robot si stáhne váš kód
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Krok: Robot zkusí sestavit Docker image
      # Tím ověříme, že Dockerfile je bez chyb a aplikace jde zabalit
      - name: Build Docker Image
        run: docker build -t moje-app .
        
      # 3. Krok: Jen vypíšeme zprávu pro radost
      - name: Success Message
        run: echo "Hurá! Docker image se podařilo sestavit."